$header-bg: #465257;
$menu-border: #7f7f7f;

$blue: #3a9fe3;
$light-blue: #5cc1d3;
$rank-blue: #a9cde5;
$orange: #ff7a22;
$pink: #f46a79;
$red: #ea1f54;
$yellow-lime: #bfd800;
$light-green: #61ae2e;
$green: #0eb081;





$ubuntu: 'Ubuntu', Arial, sans-serif;
$museoSans: 'Museo Sans', Arial, sans-serif;
$philosopher: 'Philosopher', sans-serif;


$arialHelvetica: Arial, Helvetica, sans-serif;