$menu-bg: #465257;
$menu-border: #7f7f7f;
$blue: #3a9fe3;
$orange: #ff7a22;


$green: #9ddc94;
$red: #f7757f;


$ubuntu: 'Ubuntu', Arial, sans-serif;
$museoSans: 'Museo Sans', Arial, sans-serif;


$arialHelvetica: Arial, Helvetica, sans-serif;