@charset "UTF-8";

@import 'mixin';
@import 'fonts';
@import 'variables';
/*@import 'head';*/
@import 'media';

/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    background-position:center;
    background-repeat:no-repeat;
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

html, body, section, header, footer, .page-wrap {
    width: 100%;
}

body {
    min-width: 320px;
    font: 16px $ubuntu;
    background-color: #fff;
}

section, .page-wrap, .content-slider {
    position: relative;
    z-index: 2;
}

.page-wrap {
    max-width: 600px;
    height: 100%;
    min-height: 100vh;
  /*  padding: 50px 0 80px;*/
    margin: 0 auto;
}

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */

h1 {
    font: 46px $museoSans;
    font-weight: 300;
    margin: 0;
}
h2 {
    margin: 0;
    font: 24px $museoSans;
    font-weight: 500;
}
h3 {
    font: 22px $museoSans;
    font-weight: bold;
}
h4 {
    margin: 0;
    font: 18px $museoSans;
    font-weight: 500;
}

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */

a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

li {
    list-style: none;
}

img, video {
    width: 100%;
    vertical-align: bottom;
}

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */

a, .btn {
    @include transition(all 0.2s ease-in-out);
}

.btn-start {
    padding: 10px 20px;
    font: 20px $museoSans;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background-color: #5cc1d3;
    border-color: #5cc1d3;
    @include border-radius(0);
    &:hover {
        color: #5cc1d3;
        background-color: #fff;
    }
}
.btn-about {
    padding: 5px 15px;
    font: 20px $museoSans;
    font-weight: 500;
    color: #fff;
    background-color: #f46a79;
    border-color: #f46a79;
    @include border-radius(0);
    &:hover {
        color: #f46a79;
        background-color: #fff;
    }
}

.btn-wrap {
    position: absolute;
    z-index: 15;
    right: 20px;
    bottom: 10px;
    padding: 5px;
    background: rgba(255,255,255,0.3);
}
.btn-booking {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #ffb131 0%,#ff7a22 100%);
    background-image: linear-gradient(to bottom, #ffb131 0%,#ff7a22 100%);
    border: 1px solid #e1691d;
    @include  border-radius(3px);
    &:hover {
        color: #fff;
        background-image: -webkit-linear-gradient(top, #ffda22 0%, #ff8d27 100%);
        background-image: linear-gradient(to bottom, #ffda22 0%, #ff8d27 100%);
    }
}

.btn-questions {
    background-color: $blue;
    border-color: $blue;
    &:hover {
        color: $blue;
        background-color: #fff;
    }
}
.btn-support {
    background-color: $green;
    border-color: $green;
    &:hover {
        color: $green;
        background-color: #fff;
    }
}
.btn-bonus {
    background-color: $yellow;
    border-color: $yellow;
    &:hover {
        color: $yellow;
        background-color: #fff;
    }
}
.btn-next {
    background-color: $red;
    border-color: $red;
    &:hover {
        color: $red;
        background-color: #fff;
    }
}

.btn-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 4px;
        width: 19px;
        height: 19px;
        display: block;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
    }
    &::before {
        left: -8px;
        @include transform(rotate(45deg));
    }
    &:after {
        left: 16px;
        @include transform(rotate(225deg));
    }
}


/* ----------------------------------------------
 Header
 ---------------------------------------------- */

header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.top-menu {
    margin-bottom: 0;
    color: #fff;
    background-color: $menu-bg;
    border: none;
    .navbar-toggle {
        float: left;
        margin-left: 15px;
        border-color: $menu-border;
    }
    .icon-bar {
        background-color: #fff;
    }
    .dropdown {
        float: right;
        margin: 8px 0;
        border-left: 1px solid $menu-border;
        .btn {
            background-color: transparent;
            i {
                color: #fff;
            }
            &:hover, &:focus {
                color: #fff;
            }
        }
    }
    .dropdown-menu {
        min-width: 100%;
        background-color: $menu-bg;
        border-color: $menu-bg;
        a {
            color: #fff;
            &:hover {
                color: #fff;
                background-color: transparent;
            }
        }
    }
    .nav {
        font: 20px $museoSans;
        border: 1px solid $blue;
        > li > a {
            background-color: $blue;
            &:hover, &:focus {
                color: $blue;
                background-color: #fff;
                &::after {
                    border-color: $blue;
                }
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                width: 8px;
                height: 8px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                @include transform(rotate(45deg));
                @include transition(all 0.2s ease-in-out);
            }
        }
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .city-menu, .game-list {
        display: none;
    }
}
.city-menu {
    position: relative;
    z-index: 15;
    font: 20px $museoSans;
    > li {
        > a {
            position: relative;
            z-index: 15;
            display: block;
            color: #fff;
            border: 2px solid #fff;
            p {
                position: absolute;
                z-index: 20;
                left: 15px;
                bottom: 12px;
                margin: 0;
                font-weight: bold;
                text-shadow: 0 0 4.7px rgba(81, 81, 81, 0.8);
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 15;
                left: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                background-image: -webkit-linear-gradient(top,rgba(50,50,50,0),#323232);
                background-image: linear-gradient(to bottom,rgba(50,50,50,0),#323232);
                /*zoom: 1;*/
                opacity: 0.7;
            }
            &:hover {
                color: #fff;
            }
        }
    }
    .title {
        a {
            padding: 10px 15px;
            text-align: center;
            background-color: $blue;
            &::after {
                display: none;
            }
            &:hover, &:focus {
                color: $blue;
                text-decoration: none;
                background-color: #fff;
                &::before {
                    border-color: $blue;
                }
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 8px;
                height: 8px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                @include transform(rotate(225deg));
                @include transition(all 0.2s ease-in-out);
            }
        }
    }
}

.game-list {
    padding-bottom: 10px;
    color: #666;
    background-color: #fff;
    h3 {
        margin: 0 0 5px;
    }
    p {
        font-size: 14px;
        text-align: justify;
    }
    li:not(.title) {
        display: none;
    }
    li.active {
        display: block;
    }
    .title {
        a {
            display: block;
            padding: 10px 15px;
            color: #fff;
            text-align: center;
            border: 2px solid #fff;
            background-color: $blue;
            &:hover, &:focus {
                color: $blue;
                text-decoration: none;
                background-color: #fff;
                &::after {
                    border-color: $blue;
                }
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 8px;
                height: 8px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                @include transform(rotate(225deg));
                @include transition(all 0.2s ease-in-out);
            }
        }
    }
    .image-box {
        position: relative;
        z-index: 15;
    }
    .infographics {
        margin: 15px 0 10px;
        font-size: 14px;
        color: #555;
        text-align: center;
        span {
            margin: 0 5px;
        }
        i {
            color: #2e7fb6;
        }
    }
    .game-info {
        padding: 0 15px;
    }
    .price {
        font-size: 24px;
        font-weight: bold;
        color: $orange;
        text-align: right;
    }
}


/*.active {
    > .city-menu, > .game-list {
        display: block;
    }
}*/

.menu-slider {
    width: 100%;
    max-width: 600px;
}


/* ----------------------------------------------
 Footer
 ---------------------------------------------- */

footer {
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    height: 80px;
    text-align: center;
    background-color: #e2e2e2;
    .btn {
        float: left;
        width: 23%;
        padding: 6px 0;
        font-size: 12px;
        color: #fff;
        i {
            display: block;
            font-size: 36px;
        }
        + .btn {
            margin-left: 2.5%;
        }
    }
}

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */

.content-slider {
    height: 100%;
    min-height: inherit;
   /* margin: -50px 0 -80px;*/
    background-color: yellow;
    .container-fluid {
        padding: 0;
    }
    .slide {
        width: 100%;
        height: 100%;
        min-height: inherit;
        background-color: #fff;
        + .slide {
            display: none;
        }
        > div {
            height: 100%;
            min-height: inherit;
            padding: 50px 0 80px;
        }
    }
    .slick-list, .slick-track {
        height: 100%;  /*important*/
        min-height: inherit;
    }
}
.select-main {
    z-index: 7;
}
.slick-initialized {
    .slide + .slide {
        display: block;
    }
}

.main {
    position: relative;
    z-index: 2;
    text-align: center;
    background-image: url("../img/main-img-600x900.jpg");
    background-size: cover;
    h1 {
        padding: 0 15px;
        span {
            display: inline-block;
            padding: 10px 15px;
            margin: 10px 0;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
}
.main__buttons {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    > div {
        margin-bottom: 20px;
    }
}

.waypoint__content {
    position: relative;
    z-index: 2;
    height: 290px;
    background-image: url("../img/waypoint.jpg");
    background-size: cover;
    h2 {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 15px;
        text-align: center;
        span {
            display: inline-block;
            padding: 10px 15px;
            margin: 20px 0;
            background-color: rgba(255, 255, 255, 0.6);
            /*@include border-radius(4px);*/
        }
    }
   /* > h2, .info {
        display: none;
    }*/
    .info {
        position: absolute;
        z-index: 2;
        top: 100px;
        right: 15px;
        width: 140px;
        height: 85px;
        padding: 10px 15px;
        font: 14px $museoSans;
        background-color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }
    .directions-none {
        display: none;
    }
    .directions, .directions-none {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        h3 {
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        img, video {
            margin-bottom: 20px;
        }
    }
}
.waypoint__map {
    height: 62px;
    background-image: url("../img/map_bg.jpg");
    background-size: cover;
}

.slide__content {
    background-color: #fff;
    img, video {
        margin-bottom: 20px;
    }
}
.block {
    position: relative;
    z-index: 2;
    padding: 20px;
    h3 {
        margin-top: 10px;
        font-weight: normal;
    }
    label {
        margin-left: 20px;
    }
    button {
        padding: 7px 20px;
        border-color: #000;
        @include border-radius(0);
    }
}
.point-info {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    p {
        margin: 0;
    }
}
.message {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.truly {
    background-color: #44ac3b;
}
.passably {
    background-color: $yellow;
}
.wrong {
    background-color: #d3464a;
}

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */

/* ----------------------------------------------
Pop up
---------------------------------------------- */

/*.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  z-index: 99;
}*/


