/*Import fonts from Google fonts */
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic);
/*@import 'head';*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .top-menu .container-fluid > .navbar-collapse, .top-menu .container-fluid > .navbar-header {
    margin-right: -15px;
    margin-left: -15px; }
  .top-menu .navbar-toggle {
    display: block; }
  .top-menu .navbar-header {
    float: none; }
  .top-menu .navbar {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .top-menu .navbar-nav, .top-menu .navbar-nav > li {
    float: none; }
  .top-menu .navbar-collapse.collapse {
    display: none !important; }
  .top-menu .collapse.in {
    display: block !important; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat; }

/* ----------------------------------------------
 Main
 ---------------------------------------------- */
html, body, section, header, footer, .page-wrap {
  width: 100%; }

body {
  min-width: 320px;
  font: 16px "Ubuntu", Arial, sans-serif;
  background-color: #fff; }

section, .page-wrap, .content-slider {
  position: relative;
  z-index: 2; }

.page-wrap {
  max-width: 600px;
  height: 100%;
  min-height: 100vh;
  /*  padding: 50px 0 80px;*/
  margin: 0 auto; }

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */
h1 {
  font: 46px "Museo Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0; }

h2 {
  margin: 0;
  font: 24px "Museo Sans", Arial, sans-serif;
  font-weight: 500; }

h3 {
  font: 22px "Museo Sans", Arial, sans-serif;
  font-weight: bold; }

h4 {
  margin: 0;
  font: 18px "Museo Sans", Arial, sans-serif;
  font-weight: 500; }

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
  outline: 0; }

li {
  list-style: none; }

img, video {
  width: 100%;
  vertical-align: bottom; }

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */
/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */
a, .btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn-start {
  padding: 10px 20px;
  font: 20px "Museo Sans", Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background-color: #5cc1d3;
  border-color: #5cc1d3;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .btn-start:hover {
    color: #5cc1d3;
    background-color: #fff; }

.btn-about {
  padding: 5px 15px;
  font: 20px "Museo Sans", Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #f46a79;
  border-color: #f46a79;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .btn-about:hover {
    color: #f46a79;
    background-color: #fff; }

.btn-wrap {
  position: absolute;
  z-index: 15;
  right: 20px;
  bottom: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.3); }

.btn-booking {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-image: -webkit-linear-gradient(top, #ffb131 0%, #ff7a22 100%);
  background-image: linear-gradient(to bottom, #ffb131 0%, #ff7a22 100%);
  border: 1px solid #e1691d;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .btn-booking:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #ffda22 0%, #ff8d27 100%);
    background-image: linear-gradient(to bottom, #ffda22 0%, #ff8d27 100%); }

.btn-questions {
  background-color: #3a9fe3;
  border-color: #3a9fe3; }
  .btn-questions:hover {
    color: #3a9fe3;
    background-color: #fff; }

.btn-support {
  background-color: #63ac30;
  border-color: #63ac30; }
  .btn-support:hover {
    color: #63ac30;
    background-color: #fff; }

.btn-bonus {
  background-color: #f6ce3a;
  border-color: #f6ce3a; }
  .btn-bonus:hover {
    color: #f6ce3a;
    background-color: #fff; }

.btn-next {
  background-color: #f46a79;
  border-color: #f46a79; }
  .btn-next:hover {
    color: #f46a79;
    background-color: #fff; }

.btn-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .btn-close::before, .btn-close::after {
    content: '';
    position: absolute;
    top: 4px;
    width: 19px;
    height: 19px;
    display: block;
    border-top: 2px solid #000;
    border-right: 2px solid #000; }
  .btn-close::before {
    left: -8px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-close:after {
    left: 16px;
    -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0; }

.top-menu {
  margin-bottom: 0;
  color: #fff;
  background-color: #465257;
  border: none; }
  .top-menu .navbar-toggle {
    float: left;
    margin-left: 15px;
    border-color: #7f7f7f; }
  .top-menu .icon-bar {
    background-color: #fff; }
  .top-menu .dropdown {
    float: right;
    margin: 8px 0;
    border-left: 1px solid #7f7f7f; }
    .top-menu .dropdown .btn {
      background-color: transparent; }
      .top-menu .dropdown .btn i {
        color: #fff; }
      .top-menu .dropdown .btn:hover, .top-menu .dropdown .btn:focus {
        color: #fff; }
  .top-menu .dropdown-menu {
    min-width: 100%;
    background-color: #465257;
    border-color: #465257; }
    .top-menu .dropdown-menu a {
      color: #fff; }
      .top-menu .dropdown-menu a:hover {
        color: #fff;
        background-color: transparent; }
  .top-menu .nav {
    font: 20px "Museo Sans", Arial, sans-serif;
    border: 1px solid #3a9fe3; }
    .top-menu .nav > li > a {
      background-color: #3a9fe3; }
      .top-menu .nav > li > a:hover, .top-menu .nav > li > a:focus {
        color: #3a9fe3;
        background-color: #fff; }
        .top-menu .nav > li > a:hover::after, .top-menu .nav > li > a:focus::after {
          border-color: #3a9fe3; }
      .top-menu .nav > li > a::after {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 8px;
        height: 8px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  .top-menu .navbar-nav {
    margin: 0 -15px; }
  .top-menu .city-menu, .top-menu .game-list {
    display: none; }

.city-menu {
  position: relative;
  z-index: 15;
  font: 20px "Museo Sans", Arial, sans-serif; }
  .city-menu > li > a {
    position: relative;
    z-index: 15;
    display: block;
    color: #fff;
    border: 2px solid #fff; }
    .city-menu > li > a p {
      position: absolute;
      z-index: 20;
      left: 15px;
      bottom: 12px;
      margin: 0;
      font-weight: bold;
      text-shadow: 0 0 4.7px rgba(81, 81, 81, 0.8); }
    .city-menu > li > a::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 15;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0), #323232);
      background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0), #323232);
      /*zoom: 1;*/
      opacity: 0.7; }
    .city-menu > li > a:hover {
      color: #fff; }
  .city-menu .title a {
    padding: 10px 15px;
    text-align: center;
    background-color: #3a9fe3; }
    .city-menu .title a::after {
      display: none; }
    .city-menu .title a:hover, .city-menu .title a:focus {
      color: #3a9fe3;
      text-decoration: none;
      background-color: #fff; }
      .city-menu .title a:hover::before, .city-menu .title a:focus::before {
        border-color: #3a9fe3; }
    .city-menu .title a::before {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 8px;
      height: 8px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      -ms-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.game-list {
  padding-bottom: 10px;
  color: #666;
  background-color: #fff; }
  .game-list h3 {
    margin: 0 0 5px; }
  .game-list p {
    font-size: 14px;
    text-align: justify; }
  .game-list li:not(.title) {
    display: none; }
  .game-list li.active {
    display: block; }
  .game-list .title a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    background-color: #3a9fe3; }
    .game-list .title a:hover, .game-list .title a:focus {
      color: #3a9fe3;
      text-decoration: none;
      background-color: #fff; }
      .game-list .title a:hover::after, .game-list .title a:focus::after {
        border-color: #3a9fe3; }
    .game-list .title a::after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 8px;
      height: 8px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      -ms-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .game-list .image-box {
    position: relative;
    z-index: 15; }
  .game-list .infographics {
    margin: 15px 0 10px;
    font-size: 14px;
    color: #555;
    text-align: center; }
    .game-list .infographics span {
      margin: 0 5px; }
    .game-list .infographics i {
      color: #2e7fb6; }
  .game-list .game-info {
    padding: 0 15px; }
  .game-list .price {
    font-size: 24px;
    font-weight: bold;
    color: #ff7a22;
    text-align: right; }

/*.active {
    > .city-menu, > .game-list {
        display: block;
    }
}*/
.menu-slider {
  width: 100%;
  max-width: 600px; }

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */
footer {
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  height: 80px;
  text-align: center;
  background-color: #e2e2e2; }
  footer .btn {
    float: left;
    width: 23%;
    padding: 6px 0;
    font-size: 12px;
    color: #fff; }
    footer .btn i {
      display: block;
      font-size: 36px; }
    footer .btn + .btn {
      margin-left: 2.5%; }

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */
.content-slider {
  height: 100%;
  min-height: inherit;
  /* margin: -50px 0 -80px;*/
  background-color: yellow; }
  .content-slider .container-fluid {
    padding: 0; }
  .content-slider .slide {
    width: 100%;
    height: 100%;
    min-height: inherit;
    background-color: #fff; }
    .content-slider .slide + .slide {
      display: none; }
    .content-slider .slide > div {
      height: 100%;
      min-height: inherit;
      padding: 50px 0 80px; }
  .content-slider .slick-list, .content-slider .slick-track {
    height: 100%;
    /*important*/
    min-height: inherit; }

.select-main {
  z-index: 7; }

.slick-initialized .slide + .slide {
  display: block; }

.main {
  position: relative;
  z-index: 2;
  text-align: center;
  background-image: url("../img/main-img-600x900.jpg");
  background-size: cover; }
  .main h1 {
    padding: 0 15px; }
    .main h1 span {
      display: inline-block;
      padding: 10px 15px;
      margin: 10px 0;
      background-color: rgba(255, 255, 255, 0.6); }

.main__buttons {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%; }
  .main__buttons > div {
    margin-bottom: 20px; }

.waypoint__content {
  position: relative;
  z-index: 2;
  height: 290px;
  background-image: url("../img/waypoint.jpg");
  background-size: cover;
  /* > h2, .info {
       display: none;
   }*/ }
  .waypoint__content h2 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    text-align: center; }
    .waypoint__content h2 span {
      display: inline-block;
      padding: 10px 15px;
      margin: 20px 0;
      background-color: rgba(255, 255, 255, 0.6);
      /*@include border-radius(4px);*/ }
  .waypoint__content .info {
    position: absolute;
    z-index: 2;
    top: 100px;
    right: 15px;
    width: 140px;
    height: 85px;
    padding: 10px 15px;
    font: 14px "Museo Sans", Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
  .waypoint__content .directions-none {
    display: none; }
  .waypoint__content .directions, .waypoint__content .directions-none {
    width: 100%;
    padding: 20px;
    background-color: #fff; }
    .waypoint__content .directions h3, .waypoint__content .directions-none h3 {
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center; }
    .waypoint__content .directions img, .waypoint__content .directions video, .waypoint__content .directions-none img, .waypoint__content .directions-none video {
      margin-bottom: 20px; }

.waypoint__map {
  height: 62px;
  background-image: url("../img/map_bg.jpg");
  background-size: cover; }

.slide__content {
  background-color: #fff; }
  .slide__content img, .slide__content video {
    margin-bottom: 20px; }

.block {
  position: relative;
  z-index: 2;
  padding: 20px; }
  .block h3 {
    margin-top: 10px;
    font-weight: normal; }
  .block label {
    margin-left: 20px; }
  .block button {
    padding: 7px 20px;
    border-color: #000;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }

.point-info {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500; }
  .point-info p {
    margin: 0; }

.message {
  padding: 10px 20px;
  margin: 10px;
  font-size: 36px;
  color: #fff;
  text-align: center; }

.truly {
  background-color: #44ac3b; }

.passably {
  background-color: #f6ce3a; }

.wrong {
  background-color: #d3464a; }

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */
/* ----------------------------------------------
Pop up
---------------------------------------------- */
/*.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  z-index: 99;
}*/

/*# sourceMappingURL=styles.css.map */
