<input ng-model="$ctrl.value" ng-change="$ctrl.onValueChange()" placeholder="в Ростове-на-Дону" autocomplete="off" required="" name="q" type="text">
<ul ng-if="!!$ctrl.value && !$ctrl.isSelected">
	<li ng-repeat="field in $ctrl.similarValues | filter:$ctrl.value" ng-click="$ctrl.setValue(field.name)">
		<span>{{field.name}}</span>
	</li>
</ul>

<autocomplete value="$ctrl.searchAutocomplete.value" get-similar-value="$ctrl.searchAutocomplete.getSimilarValue" class="search__autocomplete"></autocomplete>